/* CSS for adding funds to accout */
/* route = /addFunds */

.addFundsContainer {
  width: 99vw;
  height: 91vh;
  background-color: rgba(14, 11, 22, 0.85);
  display: flex;
}

.addFundsForm {
  width: 40vw;
  /* height: 70vh; */
  background-color: #0e0b16;
  color: #e7dfdd;
  font-size: 1em;
  font-weight: lighter;
  margin: auto;
  padding: 2vh;
}

.addFundsForm button {
  width: 5vw;
  padding: 1vw;
  font-size: 1.5em;
  margin: 1vh;
  background-color: #0e0b16;
  color: #4717f6;
  text-align: center;
  outline: none;
}

.addFundsForm label {
  font-size: 1.5em;
  margin-left: 1.5vh;
}

.addFundsForm input[type="text"] {
  width: 7vw;
  padding: 1vw;
  font-size: 1.3em;
  margin: 1vh;
  background-color: #0e0b16;
  color: #4717f6;
}

.addFundsForm input[type="submit"] {
  width: auto;
  padding: 1vw;
  font-size: 1em;
  margin: 1vh 15vw;
}
