.betsFormContainer {
  display: flex;
  width: 99vw;
  height: 88vh;
  font-family: "Varela Round", "Comfortaa", sans-serif;
}

.betsFormForm {
  background-color: #0e0b16;
  color: white;
  width: 40vw;
  /* height: 65vh; */
  padding: 1vh 1vw;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

.betsFormForm hr {
  border: 1px solid dodgerblue;
  margin-bottom: 2vh;
}

.betsFormForm span {
  color: #a234ca;
}

.betsFormForm h3 {
  margin: 0;
  font-size: 1.5em;
}

.betsFormForm h4 {
  margin: 1.8vh 0;
  font-size: 1.2em;
}

.betWagerBtn {
  width: 39vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.betWagerBtn button {
  width: 6vw;
  margin: 0.5vh auto;
  background: #2ecc40;
  color: #0e0b16;
  font-size: 1em;
}

.betWagerBtn button:hover {
  opacity: 1;
  color: white;
}

/* Full-width input fields */
.betWagerBtn input[type="text"] {
  width: 7vw;
  padding: 1vh;
  margin: 5px 0 22px 0;
  background: #0e0b16;
  color: white;
  font-size: 0.75em;
  border: 1px white solid;
}

.betWagerBtn input[type="text"]:focus {
  background-color: #ddd;
  font-size: 1em;
  outline: none;
}

.betOutcomeBtn {
  width: 38vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  opacity: 0.9;
}

.betOutcomeBtn button {
  width: 15vw;
  margin: 0.5vh auto;
  background: #2ecc40;
  color: #0e0b16;
  font-size: 1em;
}

.betOutcomeBtn button:hover {
  opacity: 1;
  color: white;
}

/* Set a style for all buttons */
.signupbtn {
  background-color: dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

.signupbtn:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  color: white;
  margin: 8px 0;
  margin-right: 2px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

.cancelbtn:hover {
  background-color: #f44336;
  opacity: 1;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 49%;
}
.betsFormForm p {
  font-size: 0.5em;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
