/* User Dashboard CSS */

.dashboardContainer {
  width: 99vw;
  height: 86vh;
  background-color: #ccc;
  display: flex;
}

.dashboardLeft {
  width: 20vw;
  height: 84vh;
  background-color: red;
  margin: 1vh;
  padding: 0 1vh;
}

.dashboardRight {
  width: 88vw;
  height: 84vh;
  background-color: blue;
  margin: 1vh 1vh 1vh 0;
  padding: 0 1vh;
}

.dashBets {
  margin-top: 2vh;
}

/* a tag as a button */

.button {
  float: right;
  background-color: Crimson;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  margin: 2vh 1vh;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}
