/* Available Games to bet on CSS */

table {
  width: 100%;
  text-align: center;
  border: 2px black solid;
  font-family: "Varela Round", "Comfortaa", sans-serif;
}

th {
  height: 50px;
  background-color: #ccc;
  color: black;
  font-size: 25px;
}

tr {
  height: 50px;
  border: 2px black solid;
  font-size: 25px;
}

/* tbody tr:nth-child(odd) { */
tbody tr {
  background-color: #ccc;
  color: #000;
}

/* tbody tr:nth-child(even) {
  background-color: #ccc;
} */

table {
  background-color: #0e0b16;
}

button {
  border-radius: 15px;
  padding: 10px;
  background-color: dodgerblue;
  opacity: 0.8;
  font-family: "Varela Round", "Comfortaa", sans-serif;
  font-size: 0.8em;
  color: white;
}

button:focus,
button:hover {
  background-color: dodgerblue;
  opacity: 1;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}
