/* Navbar CSS */

.nav {
  display: flex;
  height: 7vh;
  width: 99vw;
  background-color: #000000;
  overflow: hidden;
}

.navLogo {
  height: 9vh;
  margin: 0;
}

.links {
  margin-left: auto;
  width: 50vw;
}

.navLink {
  display: inline-block;
  width: 8.5vw;
  text-align: center;
  font-size: 1.5em;
  color: #e7dfdd;
  padding: 1vh;
  text-decoration: none;
}

.navLink:hover {
  background-color: blue;
}
