/* Navbar CSS */

.nav {
  display: inline-block;
  height: 7vh;
  width: 99vw;
  background-color: #000000;
  overflow: hidden;
}

.navLogo {
  height: 9vh;
  margin: 0;
}

.navLink {
  float: right;
  width: 150px;
  text-align: center;
  font-size: 30px;
  color: #554971;
  padding-top: 3vh;
}
